<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>home</title>
    </head>

    <body>
        {% if user.is_authenticated %} hello, {{ user.first_name }}
        <a href="{% url 'aut:logout' %}">logout</a> &nbsp; {% else %}
        <a href="{% url 'aut:login' %}">login</a> &nbsp;
        <a href="{% url 'aut:registration' %}">signup</a> &nbsp; {% endif %}
    </body>
</html>
