<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>registration</title>
    </head>
    <body>
        <form action="" method="POST">
            {% csrf_token %}
            <input
                name="fname"
                placeholder="first name"
                required
                type="text"
            /><br />
            <input
                name="lname"
                placeholder="last name"
                required
                type="text"
            /><br />
            <input
                name="username"
                placeholder="username"
                required
                type="text"
            /><br />
            <input
                name="email"
                placeholder="email"
                required
                type="email"
            /><br />
            <input
                name="password1"
                placeholder="password"
                required
                type="password"
            /><br />
            <input
                name="password2"
                placeholder=" confirm password"
                type="password"
            /><br />
            <input type="submit" />
        </form>
        <div>
            {% for message in messages %}
            <h3>{{message}}</h3>
            {% endfor %}
        </div>
    </body>
</html>
